  .nav-categorias {
      color: black;
      padding: 2rem;
      justify-content: space-between;
      font-size: 5vh;
      align-content: center;
  }

  .nav-categoria-icons {
    font-size: 5rem
  }